@model WineryAssortments.Data.Wine

@{
    ViewData["Title"] = "Delete";
}

<center class="Heading"><h1>Изтриване на вино</h1></center>
<center><h3>Наистина ли искате да изтриете това вино?</h3></center>
<div class="wineDetails">
    <div class="wineInformation">
        <div class="DetailsImage">
            <img src="@Html.DisplayFor(model => model.ImageUrl)" />
        </div>

        <div class="DetailedWines">
            <dl>
                <dd class="InfoDetail">
                    Вид: @Html.DisplayFor(model => model.WineTypes.Name)
                </dd>
                <dd class="InfoDetail">
                    Категория: @Html.DisplayFor(model => model.WineCattegories.Name)
                </dd>
                <dd class="DescriptionDetailed">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dd class="DetailPrice">
                    @Html.DisplayFor(model => model.Price) лв.
                </dd>
                @if (User.IsInRole("Admin"))
                {
                    <div >
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Изтрий" class="btn btn-danger" /> 
                            <a class="btn btn-primary" asp-action="Index">Назад към вината</a>
                        </form>
                    </div>
                }
         
            </dl>
        </div>



    </div>



</div>

    
 

