@model WineryAssortments.Data.Wine

@{
    ViewData["Title"] = "Details";
}

<h1 class="WineInfoDetailed">@Html.DisplayFor(model => model.Name)</h1>

<div class="wineDetails">
    <div class="wineInformation">
        <div class="DetailsImage">
            <img src="@Html.DisplayFor(model => model.ImageUrl)" />
        </div>
        
            <div class="DetailedWines">
            <dl>
                <dd class="InfoDetail">
                    Вид: @Html.DisplayFor(model => model.WineTypes.Name)
                </dd>
                <dd class="InfoDetail">
                    Категория: @Html.DisplayFor(model => model.WineCattegories.Name)
                </dd>            
                <dd class="DescriptionDetailed">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dd class="DetailPrice">
                    @Html.DisplayFor(model => model.Price) лв.
                </dd>
                @if (User.IsInRole("Admin"))
                {
                    <div class="detailsAdminBtn">                      
                            <a asp-action="Edit" asp-route-id="@Model?.Id" type="submit" class="btn btn-primary">Редактирай</a>                            
                    </div>
                }
                else
                {
                    <div class="detailsCustomerBtn">
                        <form method="get" asp-controller="Orders" asp-action="CreateWithWineId" asp-route-wineId="@Model?.Id">
                            <input name="wineId" type="hidden" value="@Model?.Id" />
                            <input name="countP" id="ccountDetails" type="number" value="1" style="color:black; font:bold" />
                            <input id="buyBtnDetails" type="submit" value="Поръчай &#128722;" class="btn btn-primary" />
                        </form>
                    </div>
                }
        </dl>
            </div>

            @*           @if (!User.IsInRole("Admin"))
            {
            <div class="btnDiv">
            <div class="buttons">
            <form method="get" asp-controller="Orders" asp-action="CreateWithWineId" asp-route-wineId="@item.id">
            <input name="wineId" type="hidden" value="@item.Id" />
            <input name="countP" id="ccount" type="number" width="4" value="1" style="color:black; font:bold" />
            <input id="buyBtn" type="submit" value="Поръчай &#128722;" class="btn btn-primary" />
            </form>

            </div>
            </div>
            } *@


            @*
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
            </dt>

            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateModified)
            </dt>
            <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateModified)
            </dd>
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WineCattegories)
            </dt>
            <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WineCattegories.Name)
            </dd>
            <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WineTypes)
            </dt>
            <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WineTypes.Name)
            </dd> *@
       
    </div>



</div>
