@model IEnumerable<WineryAssortments.Data.WineCattegory>

@{
    ViewData["Title"] = "Index";
}
<style>
    body {
        background-image: url(https://eu2iok58o6p.exactdn.com/wp-content/uploads/2023/10/pexels-skitterphoto-2101186.jpg?strip=all&lossy=1&ssl=1);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .information {
        font-family: cursive;
        background-color: lightgray;
    }

    tbody {
        background-color: white;
        font-family: cursive;
    }
</style>
<center class="Heading"><h1>Катеогрии на вината</h1></center>
@if (User.IsInRole("Admin"))
{
    <div class="AdminNewBtn">
        <a asp-action="Create" class="btn btn-primary">Добави нова категория вина</a>
    </div>

}

<table class="table table-hover table-bordered">
    <thead class="information">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th>
                Опции
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
                <td class="ForeignBtns">
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Редактирай</a>
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Детайли</a>
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Изтрий</a>
                </td>
        </tr>
}
    </tbody>
</table>
