@model WineryAssortments.Data.Promotion

@{
    ViewData["Title"] = "Delete";
}
<style>
    .PromotionDetailed {
        position: absolute;
        top: 28%;
        right: 0%;
        left: 45.5%;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 2px 2px 2px black;
        border: 4px solid red;
        background-color: yellow;
        transform: rotate(17.5deg);
        width: 70px;
    }
</style>
<center class="Heading"><h1>Изтриване на промоция на вино</h1></center>
<center><h3>Наистина ли искате да изтриете тази промоция?</h3></center>
<div class="wineDetails">
    <div class="wineInformation">
        <span class="PromotionDetailed">- @Html.DisplayFor(modelItem => Model.PromotionPercent) %</span>

        <div class="DetailsImage">
            <img src="@Html.DisplayFor(model => model.Wines.ImageUrl)" />
        </div>

        <div class="DetailedWines">
            <dl>
                <dd class="DescriptionDetailed">
                    @Html.DisplayFor(model => model.Wines.Description)
                </dd>
                <dd class="oldPrice">
                    @Html.DisplayFor(model => model.Wines.Price) лв.
                </dd>
                <dd class="DetailPrice">
                    @{
                        decimal percent = 0;
                        decimal pr = Convert.ToDecimal(Model.PromotionPercent * 0.01);
                        percent = Convert.ToDecimal(Model.Wines.Price - @pr * Model.Wines.Price);
                        <p>@Math.Round(percent, 2) лв.</p>
                    }
                </dd>
                @if (User.IsInRole("Admin"))
                {
                    <div>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Изтрий" class="btn btn-danger" />
                            <a class="btn btn-primary" asp-action="Index">Назад към промоциите</a>
                        </form>
                    </div>
                }

            </dl>
        </div>



    </div>



</div>

