
@model WineryAssortments.Data.Promotion

@{
    ViewData["Title"] = "Details";
}
<style>
    .PromotionDetailed{position: absolute;
    top: 24%;
    right: 0%;
    left: 45.5%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 2px black;
    border: 4px solid red;
    background-color: yellow;
    transform: rotate(17.5deg);
    width:70px;
    }

    .PromotionDetailed {
        animation: pulse 2s infinite;
    }
    @@keyframes pulse {
        0% {
            box-shadow: 0 0 0 0 red;
        }

        50% {
            box-shadow: 0 0 0 5px transparent;
        }

    

    }
</style>

<h1 class="WineInfoDetailed">@Html.DisplayFor(model => model.Wines.Name)</h1>

<div class="wineDetails">

    <div class="wineInformation">
        <span class="PromotionDetailed">- @Html.DisplayFor(modelItem => Model.PromotionPercent) %</span>

        <div class="DetailsImage">
            <img src="@Html.DisplayFor(model => model.Wines.ImageUrl)" />
        </div>

        <div class="DetailedWines">
            <dl>
            @*     <dd class="InfoDetail">
                    Вид: @Html.DisplayFor(model => model.Wines.WineTypes)
                </dd>
                <dd class="InfoDetail">
                    Категория: @Html.DisplayFor(model => model.Wines.WineCattegories)
                </dd> *@
                <dd class="DescriptionDetailed">
                    @Html.DisplayFor(model => model.Wines.Description)
                </dd>
                <dd class="oldPrice">
                    @Html.DisplayFor(model => model.Wines.Price) лв.
                </dd>
                <dd class="DetailPrice">
                    @{
                        decimal percent = 0;
                        decimal pr = Convert.ToDecimal(Model.PromotionPercent * 0.01);
                        percent = Convert.ToDecimal(Model.Wines.Price - @pr * Model.Wines.Price);
                        <p>@Math.Round(percent, 2) лв.</p>
                    }
                </dd>
                
                @if (User.IsInRole("Admin"))
                {
                    <div class="detailsAdminBtn">
                        <a asp-action="Edit" asp-route-id="@Model?.Id" type="submit" class="btn btn-primary">Редактирай</a>
                    </div>
                }
                else
                {
                    <div class="detailsCustomerBtn">
                        <form name="f" method="get" asp-controller="Orders" asp-action="CreateWithPromotionId" asp-route-promotionId="@Model.Id" asp-route-countP="1" asp-route-percent="100">
                        
                                <input name="promotionId" type="hidden" value="@Model.Id" />
                                <input name="percent" type="hidden" value="@Model.PromotionPercent" />
                            <input name="countP" id="ccountDetails" type="number" value="1" style="color:black; font:bold" />
                            <input id="buyBtnDetails" type="submit" class="btn btn-primary" value="Поръчай &#128722;"  />
                           
                        </form>
                    </div>
    
                }
                @*              else
                {
                    <div class="detailsCustomerBtn">
                        <form method="get" asp-controller="Orders" asp-action="CreateWithWineId" asp-route-wineId="@Model?.Id" >
                            <input name="wineId" type="hidden" value="@Model?.Id" />
                            <input name="countP" id="ccountDetails" type="number" value="1" style="color:black; font:bold" />
                            <input id="buyBtnDetails" type="submit" value="Поръчай &#128722;" class="btn btn-primary" />
                        </form>
                    </div>
                    
                } *@
            </dl>
        </div>

    </div>
    </div>

