@model IEnumerable<WineryAssortments.Data.Promotion>

@{
    ViewData["Title"] = "Index";
}

<center class="Heading">
    <h1>Промоции на вино</h1>
</center>

<div class="AdminNewBtn">
    @if (User.IsInRole("Admin"))
    {
        <center><div class="form-group"><a asp-action="Create" type="submit" class="btn btn-primary">Създай нова промоция</a></div></center>

    }
</div>

<style>
    .col-sm-2{
        font-family: cursive;
        color: #722F37;
        font-weight: bold;
    }
    .col-sm{
        color: #722F37;
        font-family:cursive;
    }
</style>
<hr />
<div class="wines-container">
    @foreach (var item in Model)
    {
        <div class="wines">
            <span class="Promotion">- @Html.DisplayFor(modelItem => item.PromotionPercent) %</span>
            <span class="wine-name">@Html.DisplayFor(modelItem => item.Wines.Name)</span>
            <a asp-action="Details" asp-route-id="@item.Id"><div class="wineImg"><img src="@(item.Wines.ImageUrl)" /></div></a>
            <div class="wine-description">
                <div>
                    <div>
                        <dl class="row" style="position: relative;">

                            <dt class="PromotionText">
                                Стара цена:
                            </dt>
                            <dd class="oldPrice">
                                @Html.DisplayFor(model => item.Wines.Price) <span>лв.</span>
                            </dd>
                            <dt class="PromotionText">
                                Нова цена:
                            </dt>
                            <dd class="newPrice">
                                @{
                                    decimal percent = 0;
                                    decimal pr = Convert.ToDecimal(item.PromotionPercent * 0.01);
                                    percent = Convert.ToDecimal(item.Wines.Price - @pr * item.Wines.Price);
                                    <p>@Math.Round(percent, 2) лв.</p>
                                }
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.StartDate):
                            </dt>
                            <dd class="col-sm">
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.EndDate):
                            </dt>
                            <dd class="col-sm">
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </dd>
                        </dl>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="btnDiv">
                            <div class="buttons">
                                <a asp-action="Edit" asp-route-id="@item.Id" type="submit" class="btn btn-primary">Редактирай</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" type="submit" class="btn btn-danger">Изтрий промоцията</a>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    }
</div>
