@model IEnumerable<WineryAssortments.Data.Promotion>

@{
    ViewData["Title"] = "Index";
}

<h1>Промоции на вино</h1>

@if (User.IsInRole("Admin"))
{
    <center><div class="form-group"><a asp-action="Create" type="submit" class="btn btn-primary">Създай нова промоция</a></div></center>

}

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wines)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wines.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PromotionPercent)
            </th>
            <th>
                Нова цена
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateModified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Wines.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Wines.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PromotionPercent)
                </td>
                <td>
                    @(item.Wines.Price - item.Wines.Price / 100 - item.PromotionPercent) лв.
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateModified)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table> *@
<hr />
<div class="wines-container">
    @foreach (var item in Model)
    {
        <div class="wines">
            <span class="Promotion">- @Html.DisplayFor(modelItem => item.PromotionPercent) %</span>
            <span class="wine-name">@Html.DisplayFor(modelItem => item.Wines.Name)</span>          
            <img src="@(item.Wines.ImageUrl)" />
            <div class="wine-description">
                <div>
                    <div>
                        <dl class="row" style="position: relative;">

                            <dt class="PromotionText">
                                Стара цена:
                            </dt>
                            <dd class="oldPrice">
                                @Html.DisplayFor(model => item.Wines.Price) <span>лв.</span>
                            </dd>
                            <dt class="PromotionText">
                                Нова цена:
                            </dt>
                            <dd class="newPrice">
                                @{
                                    decimal percent = 0;
                                    decimal pr = Convert.ToDecimal(item.PromotionPercent * 0.01);
                                    percent = Convert.ToDecimal(item.Wines.Price - @pr * item.Wines.Price);
                                    <p>@Math.Round(percent, 2) лв.</p>
                                }
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.StartDate):
                            </dt>
                            <dd class="col-sm">
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.EndDate):
                            </dt>
                            <dd class="col-sm">
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </dd>
                        </dl>
                    </div>
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="btnDiv">
                            <div class="buttons">
                                <a asp-action="Edit" asp-route-id="@item.Id" type="submit" class="btn btn-primary">Редактирай</a>
                                <a asp-action="Details" asp-route-id="@item.Id" type="submit" class="btn btn-primary">Детайли</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" type="submit" class="btn btn-danger">Изтрий промоцията</a>
                            </div>
                        </div>
                    
                    }

                </div>
            </div>
        </div>
    }
</div>
